.nav{
/*text-align: left;*/
display: flex;
    padding: 10px 30px;
    border-bottom: 1px solid lightgrey;
}

.logo-img{
    width: 80px;
    height: 80px;
    margin-right: 30px;
}
.logo-txt{
    font-size: 30px;
    align-self: center;
}