.single-mail{
    padding: 15px;
    position: relative;
}
.single-mail:after{
    content: '';
    border-bottom: 1px solid lightgrey;
    width: 96%;
    height: 1px;
    display: inline-block;
    position: absolute;
    bottom: 0px;
    left: 2%;
}
.mail-initial{
    display: flex;
    width: 100%;
    cursor: pointer;
}
.mail-context{
    text-align: left;
    display: none;
    margin-top: 20px;
    border-top: 1px solid lightgrey;
    padding: 10px 0px 0px;
}
.mail-owner{
    margin-right: 20px;
    position: relative;
    font-weight: bold;
}
.mail-owner:after{
    content: '';
    border-right: 1px solid lightgrey;
    /*width: 10px;*/
    height: 27px;
    display: inline-block;
    position: absolute;
    right: -10px;
    top: -5px;
}
.single-mail:last-child:after{
    border: none;
}