


body{
    background: url("../img/bg-img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: sans-serif;
}

.header{
    text-align: center;
    padding: 20px 0px;
    background-color: rgba(0,0,0,0.3);
}

.header-text{
    color: white;
    font-size: 25px;
    font-weight: bold;
}

.cards{
    display: flex;
    margin-top: 50px;
    justify-content: center;
    padding: 0px 0px 0px 20px;
}

.card-item{
background-color: #ebecf0;
    margin-right: 20px;
    width: 300px;
border-radius: 5px;
    padding: 10px;
    align-self: flex-start;


}

.card-top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    color: #263959;
}

.card-name{
    font-weight: bold;
}
.tasks{
margin-bottom: 10px;
    padding-bottom:60px;
    max-height: 600px;
    overflow-y: scroll;
}


.task-item{
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #172b4d;
    margin-bottom: 10px;
}
.task-header{
    font-weight: bold;
    margin-bottom: 5px;
}
.task-description{
    margin-bottom: 5px;
}
.task-deadline{
    padding: 5px;
    background-color: #ec9488;
    color: white;
    display: inline-block;
    border-radius: 5px;
}
.delete-task-btn{
    cursor: pointer;
}
.add-card-btn{
        padding: 10px;
color: #7b8699;
}
.add-card-btn:hover{
    background-color: #dadbe2;
}
.add-card-icon{
    cursor: pointer;
    display: inline-block;

}
.add-card-txt{
    margin-left: 5px;
    display: inline-block;
    cursor: pointer;
}

.add-task-panel{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.6);
    justify-content: center;
    align-items: center;
    display: none;
}
.add-task-window{
    background-color: white;
    width: 700px;
    border-radius: 10px;
    overflow: hidden;
}
.window-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
padding: 30px;
    background-color: #ebecf0;
    margin-bottom: 50px;
}
.add-task-window-header{
    font-size: 25px;
}
.close-window-btn{
    font-size: 25px;
    cursor: pointer;
}
.window-main{
    padding: 0px 30px 30px 30px;
}
.window-main label{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    align-items: center;

}
.window-main input{
    padding: 10px;
    width: 400px;
    border: 2px solid lightgrey;
    border-radius: 5px;
}

.window-add-task-btn{
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: darkcyan;
    font-size: 20px;
    margin-left: calc(100%/2 - 38px);
}



