.side-menu{
    width: 250px;
    border: 1px solid lightgrey;
    /*height: 100%;*/
    margin-top: 70px;
    align-self: flex-start;
}
.folder{
    display: flex;
    padding: 10px;
    position: relative;
    cursor: pointer;

}
.folder:after{
    content: '';
    border-bottom: 1px solid lightgrey;
    width: 230px;
    height: 1px;
    display: inline-block;
    position: absolute;
    bottom: 0px;
}
.folder:last-child:after{
    border: none;
}
.folder-logo{
font-size: 25px;
    color: darkorange;
margin-right: 15px;
}
.folder-name{
    align-self: center;
    font-size: 18px;
}